body{
  text-align:center;
  margin:0;
  font-family: 'Merriweather',serif;
  color:#40514E
}

.container{
  height:100%;
  background-color:#D9F8C4;
  position:relative;
  padding-top: 120px;


}
.bkk{
  width: 25%;
  margin: auto;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:8%

}
.anupam{
  margin-top: 80px;
  height: 225px;
}
.skill-row{
  width:50%;
  margin:56px auto 40px auto;
  text-align: left;
  line-height: 2;
}
.cpp{
  width:25%;
  float:left;
  margin-right: 30px;
}
.cricket{
  height:200px;
  float:right;
  margin:left:30px;
}
h1{
  color:#66BFBF;
  line-height: 2;
  font-size: 5.62em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento',cursive;
}
h2{
  font-family: 'Montserrat',sans-serif;
  color:#66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color:#66BFBF;
  font-family: 'Montserrat',sans-seri

}

.A{
  width:100px;
  position:absolute;
  top:100px;
  right: 300px;

}
.B{
  width:100px;
  position: absolute;
  left:300px;
  bottom:270px;
}
.contact-message{
  width:40%
  margin: 60px auto 150px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  color:#11999E;
  text-decoration: none;
}
a:hover{
  color: white;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4a);
  text-decoration: none;
}
.k{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
